body {
  background-color: #f9f9f9;
  font-family: sans-serif ;
}

.menu-topo {
  background-color: #FFFFFF;
  height: 60px;
  display: block;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.buscaTopicos{
  background-color: #FFFFFF;
  width: 100%;  /* é largura */
  height: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}
.legenda{
  
}
.titulo {
  height: 19px;
  width: 192px;
  left: 154px;
  top: 619px;
  
}

.subtitulo {
  color: gray;
}

.leftSection{
  background-color: rgb(255, 174, 0);
  display: flex;
  justify-content: space-between;
  width: 200px;  /* é largura */
  height: 40px;
}
.titles{

}
h1 {
  font-size: 52px;
  font-weight: bold;
  color: #C4160C;
  margin-left: 15px;
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  color: #303134;

  margin-left: 15px;
  margin-bottom: 20px;
}
.subleftSection{
  display: flex;
  justify-content: space-between;

}
.subleftSectionImages{
  display: flex;
  justify-content: space-between;

  }
.subleftSectionNoImage{
  display: flex;
  justify-content: space-between;

}
.rightSection{
  background-color: rgb(255, 174, 0);
  display: flex;
  justify-content: space-between;
  width: 200px;  /* é largura */
  height: 40px;
}
.subRightSection{
  display: flex;
  justify-content: space-between;
}
.subleftSectionImages{
  display: flex;
  justify-content: space-between;

}
.caixaImage{
  display: flex;
  justify-content: space-between;

}
/* display inline não ressalta o fundo 
display block, apresenta o conteudo e quebra a linha
flex, muda o posicionamento*/



img {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

