/*Configurações gerais ------------------------------------------->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--colorbody);
  font-family: "Encode Sans", sans-serif;
  height: 100vh;
  width: 100%;
}
:root {
  /*cores do nav------------------------------------------------->*/
  --color_g1_p: #c3170c;
  --color_globo: #1e4b9b;
  --color_valor: #006766;
  --color_ge: #07aa47;
  --color_cartola: #e3662b;
  --color_globoplay: #fb0735;
  --color_dropz: #ff75bb;
  --color_gshow: #ec7d00;
  --color_quem: #323333;
  --color_receitas: #a81d83;
  /*------------------------------------------------------------->*/
  --colorh1: #c4160c;
  --colorP0: #303134;
  --colorP1: #2f3134;
  --colorP2: #16ae54;
  --colorP3: #ec8006;

  --colorborda: #ebedef;
  --colorbody: #ffff;
  --borda_nav: #f5f6f7;
}

/*==================================================================*/
/*Configurações do Header ------------------------------------------>*/
.header {
  width: 100%;
  text-align: center;
}
.header img {
  width: 171px;
  margin: 22px 0px;
}
.nav {
  width: 100%;
  border-top: 1px solid var(--borda_nav);
  border-bottom: 1px solid var(--borda_nav);
  padding: 10px;
}
.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}
a:hover {
  cursor: pointer;
}
.g1 {
  color: var(--color_g1_p);
}
.globo {
  color: var(--color_globo);
}
.valor {
  color: var(--color_valor);
}
.ge {
  color: var(--color_ge);
}
.cartola {
  color: var(--color_cartola);
}
.gogloplay {
  color: var(--color_globoplay);
}
.dropz {
  color: var(--color_dropz);
}
.gshow {
  color: var(--color_gshow);
}
.quem {
  color: var(--color_quem);
}
.receitas {
  color: var(--color_receitas);
}
/* Fim do Header ------------------------------------------------>*/

/* Configurações do Main ----------------------------------------->*/
.main {
  display: flex;
  width: 88%;
  margin: auto;
}
.manchet {
  border-bottom: 1px solid var(--colorborda);
}
.manchet h1 {
  color: var(--colorh1);
  font-size: 52px;
  font-weight: bold;
  margin-top: 34px;
}
.manchet p {
  margin-top: 29px;
  margin-bottom: 25px;
  color: var(--colorP0);
  font-size: 18px;
  font-weight: 500;
}
.main_left {
  margin-right: 36px;
}
.links {
  display: block;
}
.noticias_one {
  display: flex;
  border-bottom: 1px solid var(--colorborda);
  margin-top: 25px;
  gap: 24px;
}
.noticias_one .p_gray {
  margin-bottom: 36px;
}
.noticias_one div {
  width: 193px;
  margin-right: 28px;
}
.noticias_one img {
  width: 100%;
  border-radius: 12px;
}

.noticias_two {
  display: flex;
  margin: 25px 0px 87px 0px;
  gap: 25px;
}
.noticias_two .p_red {
  margin-bottom: 6px;
}
.main h2 {
  color: var(--colorP1);
  font-size: 20px;
  font-weight: 700;
}
.p_red {
  color: var(--color_g1_p);
  font-size: 14px;
  font-weight: 500;
  margin: 11px 0px 6px 0px;
}
.p_gray {
  color: var(--colorP1);
  font-size: 14px;
  font-weight: 400;
  margin-top: 4.5px;
}

.main_right {
  display: flex;
}
.main_right img {
  width: 240px;
  border-radius: 12px;
}
.section_one div {
  width: 240px;
}
.section_one {
  margin-top: 36px;
  padding: 0px 35px 35px 35px;
  border-left: 1px solid var(--colorborda);
  border-right: 1px solid var(--colorborda);
}
.section_one .p_green {
  color: var(--colorP2);
  font-size: 14px;
  font-weight: 500;
  margin: 11px 0px 6px 0px;
}
.div_one {
  margin-bottom: 50px;
}
.div_two {
  margin-bottom: 42px;
}
.section_two {
  margin-top: 36px;
  padding: 0px 0px 100px 36px;
}
.section_two .p_orang {
  color: var(--colorP3);
  font-size: 14px;
  font-weight: 500;
  margin: 11px 0px 6px 0px;
}
#div_one {
  margin-bottom: 23px;
}

/*Configurações mobile*/

@media (max-width: 1270px) {
  .manchet h1 {
    font-size: 3.4rem;
  }
  .noticias_one {
    display: flex;
    flex-wrap: wrap;
  }
  .noticias_two {
    display: flex;
    flex-wrap: wrap;
  }
  .main_right {
    display: block;
  }
}

@media (max-width: 520px) {
  .main_left {
    margin: 0px;
  }
  .noticias_one .p_gray {
    display: none;
  }
  .noticias_one {
    width: 400px;
  }
  .valor {
    display: none;
  }
  .cartola {
    display: none;
  }
  .dropz {
    display: none;
  }
  .quem {
    display: none;
  }
  .receitas {
    display: none;
  }
  .manchet h1 {
    font-size: 2.4rem;
  }
  .manchete_mobile {
    width: 100vw;
    margin: 0px;
  }
  .main {
    display: block;
    width: 100vw;
    justify-content: center;
    margin-left: 8px;
  }
  .main h2 {
    font-size: 12px;
  }
  .noticias_one {
    width: 100vw;
    margin-left: 8px;
  }
  .noticias_one div {
    width: 100%;
    height: 86px;
    margin-bottom: 36px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--borda_nav);
  }
  #noticias_mobile .img_mobile {
    width: 280px;
    margin-right: 10px;
  }
  #noticias_mobile .img_mobile img {
    width: 100%;
  }
  #noticias_mobile {
    display: flex;
  }
  /*Configrações mobile lado section 2*/
  .main_right .section_one {
    padding: 0px;
  }
  .section_two {
    padding: 0px;
    margin-bottom: 24px;
  }
  #conf_mobile {
    display: flex;
    width: 395px;
  }
  #conf_mobile .manchete_mobile {
    width: 100%;
  }
  .manchete_mobile .p_gray {
    display: none;
  }
  #conf_mobile .img_mobile img {
    width: 100%;
  }
  #conf_mobile .img_mobile {
    width: 190px;
    margin-right: 10px;
  }
}
